html{
}
body{
  margin: 0;
  * {
    box-sizing: border-box;
  }
}
::-webkit-scrollbar-thumb { position:relative; background-color:#7E9CBD; background-clip:padding-box; border-radius: 4px}
::-webkit-scrollbar-thumb:hover { background-color:#258EFB; }
html ::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background-color: #C7D8DE
}
